
body {
	margin: 0px;
}

#wrapper {
	font-family: "Roboto Slab", serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/*height: 125px;*/
	/*height: 4em;*/
	height: auto;
	/*font-size: 3em;*/
	/*font-size: 300%;*/
	/*text-align: center;*/
	background-image: url("../images/binarybackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*padding: 10px, 0px;*/
	/*margin: -10;*/
}

header p {
	font-size: 4em;
	padding: 5px;
	/*color: #1a738c;*/
	color: #e0048c
}

#innerwrapper {
	width: 100%;
	/*height: 100%;*/
	height: auto;
	font-size: 1em;
	/*margin: 0px, 10px;*/
	/*background-color: yellow;*/
}

#whatis {
	width: 100%;
	height: auto;
	/*background-color: purple;*/
}
#whatis p {
	margin: 10px;
	padding: 5px;
	font-size: 1.17em;
}

#theform {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*height: 200px;*/
	/*height: auto;*/
	/*border: 1px solid grey;*/
	/*margin: 10px;*/
	/*background-color: blue;*/
	/*text-align: center;*/
}

#alert {
	height: 40px;
	color: red;
	font-size: 1.25em;
	padding: 10px;
}

#inputspace {
	width: 300px;
	height: 35px;
	margin: 5px;
	font-size: 1em;
}

#button {
	width: 100px;
	height: 25px;
	color: white;
	border-radius: 1em;
	padding: .5em;
	font-size: 1em;
	background-color: grey;
	text-align: center;
	margin: auto;
}

#button:hover {
	color: #e0048c
}

#userInput {
	width: 250px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

#outputwrapper {
	height: 210px;
	/*background-color: green;*/
}

#output {
	/*margin-top: 50px;*/
	background: grey;
	color: white;
	font-family: "Robot-Slab", serif;
	font-size: 45px;
	border-radius: 1em;
	padding: 1em;
	position: relative;
	display: inline-block;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

[id^=place] {
	/*margin: 3px;*/
	padding: 3px;
	/*border: 1px solid black;*/
	/*height: 75px;*/
	/*width: 75px;*/
	/*font-size: 60px;*/
	/*color: grey;*/
	display: inline-block;
}
